[MASTER]
disable = locally-disabled,
    invalid-name,
    missing-docstring,
    redefined-builtin,
    unused-import,
    too-many-arguments,
    line-too-long
extension-pkg-whitelist = mpi4py,pyfftw,numpy
generated-members=np.floating
reports = no
