name: github-CI

on: [push]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
    name: Python ${{ matrix.python-version }} example (${{ matrix.os }})

    defaults:
      run:
        shell: bash -el {0}

    steps:

    - uses: actions/checkout@v3

    - uses: conda-incubator/setup-miniconda@v2
      with:
        miniforge-variant: Mambaforge
        miniforge-version: latest
        channel-priority: strict
        python-version: ${{ matrix.python-version }}
        conda-build-version: '*'

    - run: conda install -n root numpy fftw
    - run: conda build --python ${{ matrix.python-version }} ./conf
    - run: conda install --use-local mpi4py_fft_test
